#Google {
    font-family: system-ui, arial;
    font-size: 145px;
    color: ghostwhite;
    text-align: center;
}

body {
    background-image: linear-gradient(to right, dodgerblue, indianred);
}

#type {
    height: 20px;
    width: 400px;
    background-color: ghostwhite;
    font-family: system-ui, arial;
    position: absolute;
    top: 52.5%;
    right: 590px;
}

/* Will make this a magnifying glass as soon as I know how to */
#search {
    height: 25px;
    width: 125px;
    background-color: transparent;
    font-family: system-ui, arial;
    position: absolute;
    top: 52.5%;
    right: 440px;
}

#Gmail {
    height: 25px;
    width: 125px;
    color: ghostwhite;
    font-family: system-ui, arial;
    font-size: 18px;
    position: absolute;
    top: -6.5px;
    right: 90px;
}

#Images {
    height: 25px;
    width: 125px;
    color: ghostwhite;
    font-family: system-ui, arial;
    font-size: 18px;
    position: absolute;
    top: -13px;
    right: 30px;
}

#Lucky {
    text-decoration: none;
    font-weight: 800;
    font-size: 20px;
    color: ghostwhite;
    font-family: system-ui, arial;
    position: absolute;
    top: 60%;
    right: 625px;
}

/* .Apps {
    Will recreate the apps icon with css just because
} */

.one {
    background-color: ghostwhite;
    border-radius: 50%;
    /* position: absolute;
    top: -5px;
    right: 15px; */
}

.two {
    background-color: ghostwhite;
    border-radius: 50%;
}

.three {
    background-color: ghostwhite;
    border-radius: 50%;
}

.four {
    background-color: ghostwhite;
    border-radius: 50%;
}

.five {
    background-color: ghostwhite;
    border-radius: 50%;
}

.six {
    background-color: ghostwhite;
    border-radius: 50%;
}

.seven {
    background-color: ghostwhite;
    border-radius: 50%;
}

.eight {
    background-color: ghostwhite;
    border-radius: 50%;
}

.nine {
    background-color: ghostwhite;
    border-radius: 50%;
}
