#Google {
    font-family: system-ui, arial;
    font-size: 145px;
    color: ghostwhite;
    text-align: center;
}

body {
    background-image: linear-gradient(to right, dodgerblue, indianred);
}

#type {
    height: 20px;
    width: 400px;
    background-color: ghostwhite;
    font-family: system-ui, arial;
    position: absolute;
    top: 52.5%;
    right: 600px;
}

/* Will make this a magnifying glass as soon as I know how to */
#search {
    height: 25px;
    width: 125px;
    background-color: transparent;
    font-family: system-ui, arial;
    position: absolute;
    top: 52.5%;
    right: 450px;
}

#Gmail {
    height: 25px;
    width: 125px;
    color: ghostwhite;
    font-family: system-ui, arial;
    font-size: 18px;
    position: absolute;
    top: -6.5px;
    right: 90px;
}

#Images {
    height: 25px;
    width: 125px;
    color: ghostwhite;
    font-family: system-ui, arial;
    font-size: 18px;
    position: absolute;
    top: -13px;
    right: 30px;
}

.doodles {

}

#Lucky {
    height: 25px;
    width: 200px;
    color: ghostwhite;
    font-family: system-ui, arial;
    position: absolute;
    top: 56%;
    right: 630px;
}

.Apps {
    /* Will recreate the apps icon with css just because */
}
